
version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: mclaim_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mclaim_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: mclaim_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@mclaim.id
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  postgres_data:
